{% block css %}
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/stats.css') }}"
    />
{% endblock %}

{% block content %}    
<div class="stats-container">
    <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            Grafico que muestra la cantidad de artesanos por tipo de artesania
        </p>
    </figure>

    <figure class="highcharts-figure">
        <div id="containerHincha"></div>
        <p class="highcharts-description">
            Gráfico que muestra la cantidad de hinchas por deporte
        </p>
    </figure>
    
</div>

{% endblock content %}

{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{url_for('static', filename='js/stats.js')}}"></script>
<script src="{{ url_for('static', filename='js/statshincha.js') }}"></script> 
{% endblock %}