<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de los hinchas</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='svg/favicon1.jpg') }}"> 
</head>


<body>
    


    <header style="background-color: aliceblue;">

        <h1>Listados hinchas  </h1>
        <h3> Vea aqui las personas registradas como hincha en nuestra pagina </h3>
     
        <a href="">Home</a>  
        <a href="">About Us </a>
        <a href="">Products</a>
        <a href="">Contact Us</a>
        <hr>
        </header>
    <h3> Hinchas</h3>

    <a href="/infohincha">
    <table border="3" style="background-color: black;">
        <tr align="center" style="background-color: lightblue;">
            <th>Nombre</th>  <!-- th is for columns, tr is for table row-->
            <th>Comuna</th>
            <th>Deportes</th>
            <th width="100">Modo Transporte</th>
            <th>Numero celular</th>
                       
        </tr>
        
        
        <a href="https://google.com/">
            
       
        <tr align="center" style="background-color: aliceblue;">
        
            <td>Victor </td> 
           <!-- lo que dira para cada columna que hicimos , es decir, estamos haciendo la primera columna-->
          <td> Peñafor</td>
          <td> Basquetbol 3 por 3</td>
          <td> locomocion publica</td>
          <td> 963724973</td>
        
        </tr>
    </a>

        <tr align="center" style="background-color: aliceblue;">
            <td> Francisco </td>  <!-- lo que dira para cada columna que hicimos , es decir, estamos haciendo la primera columna-->
            <td> talagante</td>
            <td> futbol</td>
            <td> locomocion publica</td>
            <td> 964085430</td>
          
  
          </tr>

          <tr align="center" style="background-color: aliceblue;">
            <td> Maria </td>  <!-- lo que dira para cada columna que hicimos , es decir, estamos haciendo la primera columna-->
            <td> Cerrillos</td>
            <td> Natación</td>
            <td>particular</td>
            <td> 963907868</td>
          
  
          </tr>

          <tr align="center" style="background-color: aliceblue;">
            <td> Carlos </td>  <!-- lo que dira para cada columna que hicimos , es decir, estamos haciendo la primera columna-->
            <td> Maipu</td>
            <td> Beisbol</td>
            <td>particular</td>
            <td> 964590168</td>
          
  
          </tr>

          <tr align="center" style="background-color: aliceblue;">
            <td> Rodrigro </td>  <!-- lo que dira para cada columna que hicimos , es decir, estamos haciendo la primera columna-->
            <td> Santiago</td>
            <td> Lucha</td>
            <td>locomocion publica</td>
            <td> 957038340</td>
          
  
          </tr>
    </table>
  </a><br>

     <a href="/">
    <button style="background-color:cyan; border: solid;"> Volver al inicio</button>
     </a>

</body>


</html>